body {
    background-color: #669068;
}

main {
    width: 95%;
    margin: auto;
}


/* Header styling goes here */

header {
    background-color: lime;
    height: 20vh;
    background-image: url(assets/header.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}


/* End here */


/*   ****Start of Container */

.container {
    display: flex;
    position: relative;
}

    #left {
        height: 700px;
        width: 40%;
        background-image: linear-gradient(to bottom, black, transparent);
        box-shadow: 5px 5px 25px black;
    }